@import "../../../color-variables.scss";

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-card {
    width: 609px;
    margin: 50px;
}

.card-text {

    font-size: 16px;
    color: $secondary-text;

    h2 {
        color: $primary-text;
        font-size: 32px;
    }
}