@import "../../../color-variables.scss";

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        
        font-size: 40px;
        font-family:'Courier New', Courier, monospace;
        font-weight: bold;
        margin-left: 20px;

        background: -webkit-linear-gradient($primary-color, $light-primary-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}