<app-header> </app-header>

<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>RIBEIRO CONSULTORIA</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>
        <img ngSrc="./assets/principal.png" alt="" width="669" height="536" priority>
    </section>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das <br /> 
                empresas
            </h2>
        </div>

        <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
    </section>

    <section class="cta-action">
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
</main>